asgiref==3.8.1
Django==5.1.5
django-debug-toolbar==5.0.1
django-tree-queries==0.19.0
djangorestframework==3.15.2
graphql-core==3.2.6
mysql==0.0.3
mysqlclient==2.2.7
packaging==24.2
pillow==11.1.0
python-dateutil==2.9.0.post0
six==1.17.0
sqlparse==0.5.3
strawberry-graphql==0.258.0
strawberry-graphql-django==0.55.1
typing_extensions==4.12.2
tzdata==2025.1
